
@{
    ViewBag.Title = "Index";
}

<h1>Meus Treinamentos</h1>
<br />
<h3 style="color:blue; text-align:center">Tela em Desenvolvimento...</h3>
<br /><br />
<h4 style= "color:blue; text-align:center">Novidades em breve! ;)</h4>

